.section__info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 16px;
    p{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        margin-bottom: 40px;
    }

    @media (min-width: 768px) {
        p {
            max-width: 65ch;
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
        }

        @media (min-width: 1280px){
            text-align: left;

            .info__content {
                display: flex;
            }
        }
    }
    
    }
